.footer{
    background-color: #ddd;
    color: #212121;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    h6{
        text-align: center;
        margin: 0;
        .link{
            color: #ff9100;
        }
    }
}